$admonition-background: hsl(229, 100%, 91%);
$admonition-background-dim: hsl(225, 22%, 93%);
$code-background: hsl(229, 100%, 97%);

:root {
  --clr-primary-100: var(--clr-blue-primary-100);
  --clr-primary-200: var(--clr-blue-primary-200);
  --clr-primary-300: var(--clr-blue-primary-300);
  --clr-primary-400: var(--clr-blue-primary-400);
  --clr-primary-500: var(--clr-blue-primary-500);
  --clr-primary-600: var(--clr-blue-primary-600);

  --clr-highlight-100: var(--clr-blue-highlight-100);
  --clr-highlight-200: var(--clr-blue-highlight-200);
  --clr-highlight-300: var(--clr-blue-highlight-300);
  --clr-highlight-400: var(--clr-blue-highlight-400);
  --clr-highlight-500: var(--clr-blue-highlight-500);
  --clr-highlight-600: var(--clr-blue-highlight-600);

  --clr-text: hsl(180, 4%, 5%);
  --clr-text-dim: var(--clr-gray-primary-400);
  --clr-text-dim-hover: var(--clr-gray-primary-300);
  --clr-text-highlight-background: white;

  --clr-admonition-background: #{$admonition-background};
  --clr-admonition-background-dim: #{$admonition-background-dim};
  --clr-code-background: #{$code-background};
}
