$clr-saturation-delta: 5%;
$clr-value-delta: 5%;
$clr-gray: hsl(233, 31%, 85%);
$clr-primary: hsl(232, 47%, 28%);
$clr-highlight: hsl(217, 56%, 53%);
$clr-success: hsl(145, 71%, 47%);
$clr-fail: hsl(15, 100%, 50%);
$clr-warn: hsl(40, 100%, 67%);
