@use "../abstracts" as *;

.fullpage-form {
  max-width: min(50rem, calc(100% - 2rem));
  margin: 1rem;
  padding: 1rem 2rem;
  background: white;
  border-radius: $border-radius;

  h1 {
    margin-top: 0;
  }

  form {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      border-color: var(--clr-gray-primary-2);
      display: block;
      width: 100%;
    }

    [type="submit"] {
      --clr-btn: var(--clr-btn-primary);
      --clr-btn-text: var(--clr-btn-primary-text);
      --clr-btn-text-hover: var(--clr-btn-primary-text-hover);

      border: none;
      border-radius: $border-radius;
      background: var(--clr-btn);
      color: var(--clr-btn-text);

      text-decoration: none;
      font-weight: normal;

      padding: 0.2em 0.6em;

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        transform: scale(1.01);
        color: var(--clr-btn-text-hover);
      }
    }
  }
}
