.login-or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2em 0 1em;

  text-transform: uppercase;
  font-weight: bold;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 0.1em;

    background-color: var(--clr-input-optional-border);
  }

  &::before {
    margin-right: 1em;
  }

  &::after {
    margin-left: 1em;
  }
}
