@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typeset" as *;

$border-bottom: 2px solid currentColor;

details,
.admonition,
.tabbed-alternate {
  .admonition:not(.no-indent) {
    margin-inline: 0;
  }
}

details,
.admonition {
  --clr-code-background: var(--clr-admonition-code-background);

  background: var(--clr-admonition-background);
  margin: 0 (-$admonition-extra-inline) (2 * $admonition-extra-block);
  padding: 0.5 * $admonition-extra-block $admonition-extra-inline;
  border-radius: $border-radius;
}

.admonition .admonition-title,
details summary {
  font-family: $font-highlight;
  font-size: map-get($font-sizes, "large");
  font-weight: 700;
  border-bottom: $border-bottom;
  color: var(--clr-title);

  @include smaller-than("medium") {
    font-size: map-get($font-sizes, "mid");
  }
}

details summary {
  border-bottom: none;

  &::marker {
    color: var(--clr-text-dim);
  }
}

details[open] summary {
  border-bottom: $border-bottom;
  margin-bottom: $space-between-block;
}
