@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typeset" as *;

.admonition {
  --clr-background: var(--clr-admonition-default-background);
  --clr-text: var(--clr-admonition-default-text);
  --clr-title: var(--clr-admonition-default-title);
  --clr-text-em: var(--clr-admonition-text-em);
  --clr-text-strong: var(--clr-admonition-text-strong);

  background: var(--clr-background);
  margin: 0 (-$admonition-extra-inline) (2 * $admonition-extra-block);
  padding: $admonition-extra-block $admonition-extra-inline;
  border-radius: $border-radius;

  .admonition-title {
    font-family: $font-highlight;
    font-size: map-get($font-sizes, "large");
    font-weight: 700;
    border-bottom: 2px solid currentColor;
    color: var(--clr-title);

    @include smaller-than("medium") {
      font-size: map-get($font-sizes, "mid");
    }
  }
}
