@use "../abstracts/variables" as *;

.ah-button,
a.ah-button {
  color: var(--clr-primary-600);
  background: transparent;

  text-decoration: none;
  font-weight: normal;

  padding: 0.2em 0.6em;

  border: 1px solid var(--clr-primary-600);
  border-radius: $border-radius;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    transform: scale(1.01);
    color: var(--clr-primary-400);
  }

  &--primary {
    background: var(--clr-highlight-200);
    color: var(--clr-text-highlight-background);
    border: none;

    &:hover,
    &:active,
    &:focus {
      color: var(--clr-text-highlight-background);
    }
  }
}
