@use "../abstracts/index.scss" as *;

@use "highlight.js/styles/base16/atelier-heath-light.css";

$css-preview-width: 300px;
$css-preview-height: 200px;

.css-playground {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  gap: 1rem;

  @include smaller-than("medium") {
    grid-template-columns: 1fr;
  }

  .file-editor {
    background-color: #f7f3f7;
    border-radius: $border-radius;
  }

  .file-tab {
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid var(--clr-gray-primary-3);

    .tab {
      list-style: none;
      color: var(--clr-text-disabled);
      margin: 0.5rem 1rem -1.5px;
      cursor: pointer;

      &:only-child {
        display: none;
      }

      &.active {
        color: var(--clr-text-default);
        border-bottom: 3px solid var(--clr-title-default);
      }

      &::before {
        display: none;
      }
    }
  }

  .page-preview {
    width: 100%;
    min-height: 10rem;
    padding: 0 0 0 0.5rem;
    display: flex;
    flex-direction: column;

    @include smaller-than("medium") {
      grid-row: 1;
      flex-direction: column-reverse;
    }

    p {
      line-height: 1;
      margin-bottom: 0.5em;
    }

    iframe {
      display: block;
      border: none;
      margin: 0 0 1rem;
      padding: 0;
      width: $css-preview-width;
      height: $css-preview-height;

      &.preview {
        margin-bottom: 1rem;
      }
    }
  }
}

.playground-code-editor {
  display: none;
  padding: 1rem;
  border-radius: $border-radius;

  height: 30rem;

  &.active {
    display: block;
  }
}
