@use "../abstracts" as *;

.dashboard-container {
  display: none;

  &.ready {
    display: inherit;
  }
}

.ah-dashboard {
  margin: 0 0 $space-between-block;
  padding: 0;
  border: none;
  width: $max-content-width;
  max-width: 100%;
}
