@use "../base" as *;

.dashboard-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    line-height: 1.1;
  }

  .ah-dashboard {
    &--subtitle {
      display: block;
      font-family: $font-regular;
      font-weight: 400;
      font-size: 0.6em;
    }
  }
}
