@use "../abstracts/variables" as *;

.admonition.exercise {
  background: var(--clr-highlight-600);
  color: var(--clr-text-highlight-background);

  .admonition-title {
    color: var(--clr-highlight-100);
  }

  ol,
  ul {
    li::before {
      color: var(--clr-highlight-100);
    }
  }

  .form-elements {
    display: flex;
    flex-direction: column;
    counter-reset: alternative-counter;
    margin-bottom: $admonition-extra-block;

    input[type="text"] {
      border: 1px solid var(--clr-primary-600);
    }

    input[type="submit"] {
      display: flex;
      align-self: flex-end;
      justify-content: center;
      align-items: center;

      margin-top: $admonition-extra-block;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;

      font-weight: bold;

      background-color: var(--clr-highlight-300);
      color: white;
    }

    .alternative-set {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .alternative {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      background: var(--clr-admonition-background);
      padding-right: $admonition-extra-inline;
      color: var(--clr-text);
      counter-increment: alternative-counter;
      border-radius: $border-radius;
      transition: transform 0.1s ease-in-out;
      --selection-color: var(--clr-highlight-100);

      &.selected {
        border: 4px solid var(--selection-color);
      }

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        transform: scale(1.01);
      }

      input[type="radio"] {
        display: none;
      }

      .content {
        margin-top: 0;
        padding-block: $admonition-extra-block;
      }

      &::before {
        content: counter(alternative-counter, upper-alpha);
        display: inline-grid;
        place-items: center;

        background: var(--clr-highlight-300);
        padding: $admonition-extra-block;
        margin-right: $admonition-extra-block;
        border-radius: $border-radius 0 0 $border-radius;
        width: calc(2 * $admonition-extra-block + 1em);
        height: 100%;

        color: white;
        font-weight: 900;
      }
    }
  }
}
