@use "../base/typeset" as *;

.ah-header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  padding: 0.5em 1em;
  background: var(--clr-background);
  z-index: 999;

  font-family: $font-regular;
  font-size: map-get($font-sizes, "regular");

  &--right {
    display: flex;
    margin-left: auto;
  }
}

.ah-logo {
  color: var(--clr-title);
  text-decoration: none;
  font-weight: 700;
}
