@use "../abstracts" as *;
@use "../base/typeset" as *;

.ah-typeset {
  ol,
  ul {
    color: var(--clr-text);
    line-height: 2;
    margin-bottom: $space-between-block;

    counter-reset: ah-item-counter;
    list-style: none;
    padding-left: 1em;

    li {
      padding-left: 0.5em;
      counter-increment: ah-item-counter;

      p {
        margin-bottom: 0;
      }

      &::marker {
        color: var(--clr-bullet);
        font-weight: bold;
        font-family: $font-highlight;
      }

      li {
        &::marker {
          color: var(--clr-bullet-level-2);
        }

        li {
          &::marker {
            color: var(--clr-bullet-level-3);
          }

          li {
            &::marker {
              color: var(--clr-bullet-level-4);
            }
          }
        }
      }
    }
  }

  ol li::marker {
    content: counter(ah-item-counter) ".";
  }

  ul li::marker {
    content: "\2726";
  }
}
