@use "../abstracts/index" as *;

$subslot-count: 6;
$indent-size: 4ch;

.parsons {
  position: relative;

  .correct-answer,
  .wrong-answer {
    display: none;
  }

  pre.parsons-answer {
    display: none;
  }

  &.correct {
    .correct-answer {
      display: inherit;
    }
  }

  &.wrong {
    .wrong-answer {
      display: inherit;
    }
  }
}

.parsons-outer-container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.parsons-container {
  border: $border-thickness solid var(--clr-parsons-line-border);

  pre {
    white-space: inherit;
  }
}

.parsons-code {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;

  @include smaller-than(medium) {
    grid-template-columns: 1fr;
  }
}

.parsons-line {
  position: relative;
  padding: 0.5em;
  white-space: pre-wrap;
  cursor: move;
  grid-column: 1 / span $subslot-count;
  grid-row: 1;
}

.line-slot {
  margin-bottom: 0.2em;
  border: 1px dashed var(--clr-parsons-drop-border);
  min-height: 2.5em;
  border-radius: $border-radius;
  isolation: isolate;

  display: grid;
  grid-template-columns: repeat(($subslot-count - 1), $indent-size) auto;

  .subslot {
    z-index: -1;
    position: relative;
    isolation: isolate;
    grid-row: 1;

    @for $i from 1 to ($subslot-count + 1) {
      &.subslot-#{$i} {
        grid-column: $i;

        &.drag-over ~ .line-placeholder {
          background-color: var(--clr-parsons-drop-background);
          grid-column: $i / span ($subslot-count - $i + 1);
          margin: 1px;
          border-radius: $border-radius;
        }

        &.cur-indent ~ .parsons-line {
          grid-column: $i / span ($subslot-count - $i + 1);
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0.1em;
      background-color: var(--clr-parsons-drop-indent-block);
      border-radius: $border-radius;
      z-index: -1;
    }

    &.single-subslot {
      grid-column: 1 / span $subslot-count;
    }

    &.single-subslot,
    &.drag-over,
    &.cur-indent {
      &::before {
        background-color: transparent;
      }

      ~ .subslot {
        &::before {
          background-color: transparent;
        }
      }
    }
  }

  .line-placeholder {
    grid-row: 1;
    grid-column: 1 / span $subslot-count;
  }

  &.with-line {
    border: 1px solid var(--clr-parsons-line-border);
  }

  &.dragging {
    display: none;
  }
}
