section.progress-section {
  display: none;

  &:first-child,
  &.show {
    display: inherit;
  }
}

.ah-progress-container {
  display: flex;
  width: 100%;
  padding: 2rem 0 1rem;
}

.ah-button.progress {
  margin: 0 auto;
}
