@use "../abstracts" as *;

.ah-table-container {
  margin-bottom: 2rem;

  table {
    margin-inline: auto;
    border-radius: $border-radius;
    border-collapse: collapse;
    overflow: hidden;
  }

  &.full-width {
    width: 100%;

    table {
      min-width: 100%;
    }
  }

  .table-same-width {
    table-layout: fixed;
  }

  .table-centered {
    td {
      text-align: center;
    }
  }

  .table-compact {
    td {
      padding: 0.5rem;
    }
  }

  .table-alternating-cols {
    td {
      background-color: var(--clr-table-row-odd);

      &:nth-child(even) {
        background-color: var(--clr-table-row-even);
      }
    }
  }
}
