@use "../base/typeset" as *;

.ah-title-box {
  h1 {
    margin-top: -0.5rem;
  }

  h2 {
    margin-top: -2.4rem;
    color: var(--clr-subtitle);
    font-size: map-get($font-sizes, "large");
  }

  .ah-breadcrumbs {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;

    color: var(--clr-text-disabled);

    li {
      &::before {
        content: "";
        position: static;
      }

      & + li::before {
        content: "»";
        padding-right: 1rem;
      }

      a {
        color: var(--clr-text-disabled);

        &:hover {
          color: var(--clr-text-disabled-hover);
        }
      }
    }
  }
}
