@use "../abstracts/mixins" as *;
@use "../base/typeset" as *;

.ah-title-box {
  h1 {
    margin-top: -0.5rem;
  }

  h2 {
    margin-top: -0.8em;
    color: var(--clr-subtitle);
    font-size: map-get($font-sizes, "large");

    @include smaller-than("medium") {
      font-size: map-get($font-sizes, "mid");
      margin-top: -0.8rem;
    }
  }

  .ah-breadcrumbs {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    color: var(--clr-text-dim);

    @include smaller-than("medium") {
      display: none;
    }

    li {
      display: inline;
      line-height: 1;
      margin-bottom: 0.5rem;
      padding: 0;

      &:first-child {
        &::before {
          content: "";
          margin-inline: 0;
        }
      }

      &::before {
        content: "»";
        color: inherit;
        margin-inline: 0.5em;
      }

      a {
        color: var(--clr-text-dim);

        &:hover {
          color: var(--clr-text-dim-hover);
        }
      }
    }
  }
}
