@forward "admonition";
@forward "button";
@forward "dashboard";
@forward "details";
@forward "exercise";
@forward "footer";
@forward "footnote";
@forward "header";
@forward "list";
@forward "menu";
@forward "navigation";
@forward "parsons";
@forward "progress";
@forward "reset-button";
@forward "tabbed-content";
@forward "tasklist";
@forward "text-area";
@forward "title-box";
@forward "code-editor";
@forward "svg-icon";
@forward "permalink";
@forward "container";
@forward "table";
