main {
  margin: 1.5em 1em 4em;
}

.filterset {
  display: flex;
  gap: 2em;
  align-items: center;
  margin-bottom: 0.5em;
}

#tags-list {
  display: flex;
  margin-bottom: 1em;
}

.tag {
  padding: 0.2rem;
}

.btn btn-primary {
  width: 1rem;
  height: 1rem;
}

input {
  width: 0.3rem;
  height: 0.3rem;
}

#select-tag {
  width: fit-content;
  height: fit-content;
}