{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:700|Oxygen+Mono|Source+Sans+Pro:700|Source+Serif+Pro&amp;display=swap">
<link rel="stylesheet" href="{{ 'assets/css/devlife.css'|url }}">
<script src="https://unpkg.com/hyperscript.org"></script>

<script>
    function keyFromElement(el) {
        const docAddr = document.location.pathname;
        return `${docAddr}/${el.id}`;
    }

    window.addEventListener("remember", function (e) {
        localStorage[keyFromElement(e.detail.element)] = true;
    });

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("a.progress").forEach((e) => {
            const k = keyFromElement(e);
            if (localStorage.getItem(k) !== null) {
                e.click();
            }
        });
    });
</script>

{% endblock %}
