$background: hsl(217, 76%, 93%);
$highlight-background: hsl(217, 76%, 93%);
$comment: hsl(219, 8%, 58%);
$error-background: hsl(328, 100%, 94%);
$error-color: hsl(328, 100%, 29%);
$keyword: hsl(211, 100%, 44%);
$literal: hsl(261, 48%, 55%);
$name: hsl(60, 30%, 4%);
$operator: hsl(338, 95%, 56%);
$generic: hsl(120, 100%, 30%);
$string: hsl(33, 87%, 46%);
