$background: hsl(55, 8%, 96%);
$highlight-background: hsl(70, 8%, 85%);
$comment: hsl(50, 11%, 61%);
$error-background: hsl(328, 100%, 94%);
$error-color: hsl(328, 100%, 29%);
$keyword: hsl(190, 81%, 67%);
$literal: hsl(261, 100%, 75%);
$name: hsl(60, 30%, 4%);
$operator: hsl(338, 95%, 56%);
$generic: hsl(80, 76%, 53%);
$string: hsl(54, 70%, 68%);
