@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap";
*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --clr-gray-primary-100: #ececee;
  --clr-gray-primary-200: #d1d2d6;
  --clr-gray-primary-300: #b7b7be;
  --clr-gray-primary-400: #9c9da5;
  --clr-gray-primary-500: #81828d;
  --clr-gray-primary-600: #686973;
  --clr-gray-primary-700: #505158;
  --clr-gray-primary-800: #38383e;
  --clr-gray-primary-900: #1f2023;
  --clr-gray-primary-1000: #070708;
  --clr-blue-primary-100: #a1a9dd;
  --clr-blue-primary-200: #7c87d0;
  --clr-blue-primary-300: #5665c2;
  --clr-blue-primary-400: #3d4ba9;
  --clr-blue-primary-500: #2f3a83;
  --clr-blue-primary-600: #222a5e;
  --clr-blue-highlight-100: #94b1e1;
  --clr-blue-highlight-200: #6c94d5;
  --clr-blue-highlight-300: #4477ca;
  --clr-blue-highlight-400: #305fab;
  --clr-blue-highlight-500: #254983;
  --clr-blue-highlight-600: #1a335b;
}

.emojione {
  max-height: 1em;
  display: inline;
}

.ah-typeset img.emojione {
  margin-bottom: 0;
}

.ah-typeset {
  font-family: Open Sans, sans-serif;
  font-size: 1.25rem;
}

.ah-typeset h1, .ah-typeset h2, .ah-typeset h3, .ah-typeset h4, .ah-typeset h5, .ah-typeset h6 {
  color: var(--clr-primary-600);
  margin-bottom: 2rem;
  font-family: Oswald, sans-serif;
  font-size: 1.563rem;
}

.ah-typeset h1 {
  font-size: 3.052rem;
}

.ah-typeset h2 {
  font-size: 2.441rem;
}

.ah-typeset h3 {
  font-size: 1.953rem;
}

.ah-typeset p, .ah-typeset img {
  margin-bottom: 1.5rem;
}

.ah-typeset p {
  text-align: justify;
  line-height: 2.2;
}

.ah-typeset a {
  color: var(--clr-highlight-300);
  font-weight: 700;
}

.ah-typeset a:hover {
  color: var(--clr-highlight-200);
}

.ah-typeset img {
  margin-inline: auto;
}

.ah-typeset em {
  color: var(--clr-primary-600);
  font-style: italic;
  font-weight: 700;
}

.ah-typeset strong {
  color: var(--clr-primary-600);
  font-weight: 900;
}

.ah-content {
  max-width: 60ch;
  margin: 0 auto 2rem;
}

:root {
  --clr-primary-100: var(--clr-blue-primary-100);
  --clr-primary-200: var(--clr-blue-primary-200);
  --clr-primary-300: var(--clr-blue-primary-300);
  --clr-primary-400: var(--clr-blue-primary-400);
  --clr-primary-500: var(--clr-blue-primary-500);
  --clr-primary-600: var(--clr-blue-primary-600);
  --clr-highlight-100: var(--clr-blue-highlight-100);
  --clr-highlight-200: var(--clr-blue-highlight-200);
  --clr-highlight-300: var(--clr-blue-highlight-300);
  --clr-highlight-400: var(--clr-blue-highlight-400);
  --clr-highlight-500: var(--clr-blue-highlight-500);
  --clr-highlight-600: var(--clr-blue-highlight-600);
  --clr-text-dim: var(--clr-gray-primary-400);
  --clr-text-dim-hover: var(--clr-gray-primary-300);
  --clr-text-highlight-background: white;
}

.highlight .hll {
  background-color: #f6f5f4;
}

.highlight {
  color: #0d0d07;
  background: #dbdcd6;
}

.highlight .c {
  color: #a6a391;
}

.highlight .err {
  color: #94004f;
  background-color: #ffe0f1;
}

.highlight .k {
  color: #67d8ef;
}

.highlight .l {
  color: #ac80ff;
}

.highlight .n {
  color: #0d0d07;
}

.highlight .o {
  color: #f92472;
}

.highlight .p {
  color: #0d0d07;
}

.highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #a6a391;
}

.highlight .gd {
  color: #f92472;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gi {
  color: #a6e22c;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #a6a391;
}

.highlight .kc, .highlight .kd {
  color: #67d8ef;
}

.highlight .kn {
  color: #f92472;
}

.highlight .kp, .highlight .kr, .highlight .kt {
  color: #67d8ef;
}

.highlight .ld {
  color: #e7db74;
}

.highlight .m {
  color: #ac80ff;
}

.highlight .s {
  color: #e7db74;
}

.highlight .na {
  color: #a6e22c;
}

.highlight .nb {
  color: #0d0d07;
}

.highlight .nc {
  color: #a6e22c;
}

.highlight .no {
  color: #67d8ef;
}

.highlight .nd {
  color: #a6e22c;
}

.highlight .ni {
  color: #0d0d07;
}

.highlight .ne, .highlight .nf {
  color: #a6e22c;
}

.highlight .nl, .highlight .nn {
  color: #0d0d07;
}

.highlight .nx {
  color: #a6e22c;
}

.highlight .py {
  color: #0d0d07;
}

.highlight .nt {
  color: #f92472;
}

.highlight .nv {
  color: #0d0d07;
}

.highlight .ow {
  color: #f92472;
}

.highlight .w {
  color: #0d0d07;
}

.highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #ac80ff;
}

.highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2 {
  color: #e7db74;
}

.highlight .se {
  color: #ac80ff;
}

.highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #e7db74;
}

.highlight .bp {
  color: #0d0d07;
}

.highlight .fm {
  color: #a6e22c;
}

.highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0d0d07;
}

.highlight .il {
  color: #ac80ff;
}

.ah-button, a.ah-button {
  color: var(--clr-primary-600);
  border: 1px solid var(--clr-primary-600);
  background: none;
  border-radius: .2em;
  padding: .2em .6em;
  font-weight: normal;
  text-decoration: none;
}

.ah-button:hover, .ah-button:active, .ah-button:focus, a.ah-button:hover, a.ah-button:active, a.ah-button:focus {
  cursor: pointer;
  color: var(--clr-primary-400);
  transform: scale(1.01);
}

.ah-button--primary, a.ah-button--primary {
  background: var(--clr-highlight-200);
  color: var(--clr-text-highlight-background);
  border: none;
}

.ah-button--primary:hover, .ah-button--primary:active, .ah-button--primary:focus, a.ah-button--primary:hover, a.ah-button--primary:active, a.ah-button--primary:focus {
  color: var(--clr-text-highlight-background);
}

.ah-header {
  min-height: 2rem;
}

section.progress-section {
  display: none;
}

section.progress-section:first-child, section.progress-section.show {
  display: inherit;
}

.ah-progress-container {
  width: 100%;
  padding: 2rem 0 1rem;
  display: flex;
}

.ah-button.progress {
  margin: 0 auto;
}

.admonition.question .admonition.exercise .form-elements {
  flex-direction: column;
  display: flex;
}

.admonition.question .admonition.exercise .form-elements * {
  margin-top: .5rem;
}

.admonition.question .admonition.exercise .form-elements input[type="text"] {
  border: 1px solid var(--md-primary-fg-color);
}

.admonition.question .admonition.exercise .form-elements input[type="submit"] {
  background-color: var(--md-primary-fg-color);
  color: #fff;
  border-radius: .25rem;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  padding: .5rem 1rem;
  font-weight: bold;
  display: flex;
}

.ah-title-box h1 {
  margin-top: -.5rem;
}

.ah-title-box h2 {
  color: var(--clr-highlight-200);
  margin-top: -2.8rem;
}

.ah-title-box .ah-breadcrumbs {
  color: var(--clr-text-dim);
  gap: 1rem;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.ah-title-box .ah-breadcrumbs li + li:before {
  content: "»";
  padding-right: 1rem;
}

.ah-title-box .ah-breadcrumbs li a {
  color: var(--clr-text-dim);
}

.ah-title-box .ah-breadcrumbs li a:hover {
  color: var(--clr-text-dim-hover);
}

/*# sourceMappingURL=main.css.map */
