@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Fira+Mono:wght@400;500;700&display=swap";
*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --clr-gray-primary-100: #ececee;
  --clr-gray-primary-200: #d1d2d6;
  --clr-gray-primary-300: #b7b7be;
  --clr-gray-primary-400: #9c9da5;
  --clr-gray-primary-500: #81828d;
  --clr-gray-primary-600: #686973;
  --clr-gray-primary-700: #505158;
  --clr-gray-primary-800: #38383e;
  --clr-gray-primary-900: #1f2023;
  --clr-gray-primary-1000: #070708;
  --clr-blue-primary-100: #a1a9dd;
  --clr-blue-primary-200: #7c87d0;
  --clr-blue-primary-300: #5665c2;
  --clr-blue-primary-400: #3d4ba9;
  --clr-blue-primary-500: #2f3a83;
  --clr-blue-primary-600: #222a5e;
  --clr-blue-highlight-100: #94b1e1;
  --clr-blue-highlight-200: #6c94d5;
  --clr-blue-highlight-300: #4477ca;
  --clr-blue-highlight-400: #305fab;
  --clr-blue-highlight-500: #254983;
  --clr-blue-highlight-600: #1a335b;
}

.emojione {
  max-height: 1em;
  display: inline;
}

.ah-typeset img.emojione {
  margin-bottom: 0;
}

.ah-typeset {
  font-family: Open Sans, sans-serif;
  font-size: 1.25rem;
}

.ah-typeset h1, .ah-typeset h2, .ah-typeset h3, .ah-typeset h4, .ah-typeset h5, .ah-typeset h6 {
  color: var(--clr-primary-600);
  margin-bottom: 2rem;
  font-family: Oswald, sans-serif;
  font-size: 1.563rem;
}

.ah-typeset h1 {
  font-size: 3.052rem;
}

.ah-typeset h2 {
  font-size: 2.441rem;
}

.ah-typeset h3 {
  font-size: 1.953rem;
}

.ah-typeset p, .ah-typeset img {
  margin-bottom: 1.5rem;
}

.ah-typeset p {
  text-align: justify;
  line-height: 2.2;
}

.ah-typeset a {
  color: var(--clr-highlight-300);
  font-weight: 700;
}

.ah-typeset a:hover {
  color: var(--clr-highlight-200);
}

.ah-typeset img {
  margin-inline: auto;
}

.ah-typeset em {
  color: var(--clr-primary-600);
  font-style: italic;
  font-weight: 700;
}

.ah-typeset strong {
  color: var(--clr-primary-600);
  font-weight: 900;
}

.ah-content {
  max-width: 60ch;
  margin: 0 auto 2rem;
}

:root {
  --clr-primary-100: var(--clr-blue-primary-100);
  --clr-primary-200: var(--clr-blue-primary-200);
  --clr-primary-300: var(--clr-blue-primary-300);
  --clr-primary-400: var(--clr-blue-primary-400);
  --clr-primary-500: var(--clr-blue-primary-500);
  --clr-primary-600: var(--clr-blue-primary-600);
  --clr-highlight-100: var(--clr-blue-highlight-100);
  --clr-highlight-200: var(--clr-blue-highlight-200);
  --clr-highlight-300: var(--clr-blue-highlight-300);
  --clr-highlight-400: var(--clr-blue-highlight-400);
  --clr-highlight-500: var(--clr-blue-highlight-500);
  --clr-highlight-600: var(--clr-blue-highlight-600);
  --clr-text-dim: var(--clr-gray-primary-400);
  --clr-text-dim-hover: var(--clr-gray-primary-300);
  --clr-text-highlight-background: white;
  --clr-admonition-background: #f2f4fdcc;
  --clr-admonition-background-dim: #e9ebf1cc;
}

div.highlight, :not(.highlight) > pre {
  background: var(--clr-admonition-background);
  border-radius: .2em;
  margin: 0 -1rem 1.5rem;
  padding: 1rem;
}

div.highlight code, :not(.highlight) > pre code {
  border-radius: 0;
  padding: 0;
}

code {
  background: var(--clr-admonition-background);
  border-radius: .2em;
  padding: .2em .5em;
  font-family: Fira Mono, monospace;
}

.highlight .hll {
  background-color: var(--clr-admonition-background);
}

.highlight {
  background: var(--clr-admonition-background);
  color: #0d0d07;
}

.highlight .c {
  color: #8b919c;
}

.highlight .err {
  color: #94004f;
  background-color: #ffe0f1;
}

.highlight .k {
  color: #006ce0;
}

.highlight .l {
  color: #7c55c3;
}

.highlight .n {
  color: #0d0d07;
}

.highlight .o {
  color: #f92472;
}

.highlight .p {
  color: #0d0d07;
}

.highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #8b919c;
}

.highlight .gd {
  color: #f92472;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gi {
  color: #090;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #8b919c;
}

.highlight .kc, .highlight .kd {
  color: #006ce0;
}

.highlight .kn {
  color: #f92472;
}

.highlight .kp, .highlight .kr, .highlight .kt {
  color: #006ce0;
}

.highlight .ld {
  color: #db800f;
}

.highlight .m {
  color: #7c55c3;
}

.highlight .s {
  color: #db800f;
}

.highlight .na {
  color: #090;
}

.highlight .nb {
  color: #0d0d07;
}

.highlight .nc {
  color: #090;
}

.highlight .no {
  color: #006ce0;
}

.highlight .nd {
  color: #090;
}

.highlight .ni {
  color: #0d0d07;
}

.highlight .ne, .highlight .nf {
  color: #090;
}

.highlight .nl, .highlight .nn {
  color: #0d0d07;
}

.highlight .nx {
  color: #090;
}

.highlight .py {
  color: #0d0d07;
}

.highlight .nt {
  color: #f92472;
}

.highlight .nv {
  color: #0d0d07;
}

.highlight .ow {
  color: #f92472;
}

.highlight .w {
  color: #0d0d07;
}

.highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #7c55c3;
}

.highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2 {
  color: #db800f;
}

.highlight .se {
  color: #7c55c3;
}

.highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #db800f;
}

.highlight .bp {
  color: #0d0d07;
}

.highlight .fm {
  color: #090;
}

.highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0d0d07;
}

.highlight .il {
  color: #7c55c3;
}

.ah-button, a.ah-button {
  color: var(--clr-primary-600);
  border: 1px solid var(--clr-primary-600);
  background: none;
  border-radius: .2em;
  padding: .2em .6em;
  font-weight: normal;
  text-decoration: none;
}

.ah-button:hover, .ah-button:active, .ah-button:focus, a.ah-button:hover, a.ah-button:active, a.ah-button:focus {
  cursor: pointer;
  color: var(--clr-primary-400);
  transform: scale(1.01);
}

.ah-button--primary, a.ah-button--primary {
  background: var(--clr-highlight-200);
  color: var(--clr-text-highlight-background);
  border: none;
}

.ah-button--primary:hover, .ah-button--primary:active, .ah-button--primary:focus, a.ah-button--primary:hover, a.ah-button--primary:active, a.ah-button--primary:focus {
  color: var(--clr-text-highlight-background);
}

.ah-header {
  min-height: 2rem;
}

.ah-typeset ol, .ah-typeset ul {
  counter-reset: ah-item-counter;
  padding-left: 1.5rem;
  list-style: none;
}

.ah-typeset ol li, .ah-typeset ul li {
  counter-increment: ah-item-counter;
  position: relative;
}

.ah-typeset ol li:before, .ah-typeset ul li:before {
  color: var(--clr-primary-400);
  font-family: Oswald, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -1.5rem;
}

.ah-typeset ol li:before {
  content: counter(ah-item-counter) ".";
}

.ah-typeset ul li:before {
  content: "✦";
}

section.progress-section {
  display: none;
}

section.progress-section:first-child, section.progress-section.show {
  display: inherit;
}

.ah-progress-container {
  width: 100%;
  padding: 2rem 0 1rem;
  display: flex;
}

.ah-button.progress {
  margin: 0 auto;
}

.admonition.question .admonition.exercise .form-elements {
  flex-direction: column;
  display: flex;
}

.admonition.question .admonition.exercise .form-elements * {
  margin-top: .5rem;
}

.admonition.question .admonition.exercise .form-elements input[type="text"] {
  border: 1px solid var(--md-primary-fg-color);
}

.admonition.question .admonition.exercise .form-elements input[type="submit"] {
  background-color: var(--md-primary-fg-color);
  color: #fff;
  border-radius: .25rem;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  padding: .5rem 1rem;
  font-weight: bold;
  display: flex;
}

.tabbed-alternate {
  flex-flow: column wrap;
  margin: 0 -1rem 1.5rem;
  display: flex;
  position: relative;
}

.tabbed-alternate > input {
  display: none;
}

.tabbed-alternate .tabbed-content {
  width: 100%;
  background: var(--clr-admonition-background);
  border-radius: 0 .2em .2em;
}

.tabbed-alternate .tabbed-labels.tabbed-scroll .tabbed-content {
  border-radius: 0 0 .2em .2em;
}

.tabbed-alternate .tabbed-block {
  padding: 1rem;
  display: none;
}

.tabbed-alternate input:nth-child(1):checked ~ .tabbed-content > :nth-child(1), .tabbed-alternate input:nth-child(2):checked ~ .tabbed-content > :nth-child(2), .tabbed-alternate input:nth-child(3):checked ~ .tabbed-content > :nth-child(3), .tabbed-alternate input:nth-child(4):checked ~ .tabbed-content > :nth-child(4), .tabbed-alternate input:nth-child(5):checked ~ .tabbed-content > :nth-child(5), .tabbed-alternate input:nth-child(6):checked ~ .tabbed-content > :nth-child(6), .tabbed-alternate input:nth-child(7):checked ~ .tabbed-content > :nth-child(7), .tabbed-alternate input:nth-child(8):checked ~ .tabbed-content > :nth-child(8), .tabbed-alternate input:nth-child(9):checked ~ .tabbed-content > :nth-child(9), .tabbed-alternate input:nth-child(10):checked ~ .tabbed-content > :nth-child(10), .tabbed-alternate input:nth-child(11):checked ~ .tabbed-content > :nth-child(11), .tabbed-alternate input:nth-child(12):checked ~ .tabbed-content > :nth-child(12), .tabbed-alternate input:nth-child(13):checked ~ .tabbed-content > :nth-child(13), .tabbed-alternate input:nth-child(14):checked ~ .tabbed-content > :nth-child(14), .tabbed-alternate input:nth-child(15):checked ~ .tabbed-content > :nth-child(15), .tabbed-alternate input:nth-child(16):checked ~ .tabbed-content > :nth-child(16), .tabbed-alternate input:nth-child(17):checked ~ .tabbed-content > :nth-child(17), .tabbed-alternate input:nth-child(18):checked ~ .tabbed-content > :nth-child(18), .tabbed-alternate input:nth-child(19):checked ~ .tabbed-content > :nth-child(19), .tabbed-alternate input:nth-child(20):checked ~ .tabbed-content > :nth-child(20) {
  display: block;
}

.tabbed-labels {
  width: 100%;
  scrollbar-width: none;
  display: flex;
  overflow: auto;
}

.tabbed-labels::-webkit-scrollbar {
  display: none;
}

.tabbed-labels > label {
  width: auto;
  white-space: nowrap;
  scroll-snap-align: start;
  cursor: pointer;
  background: var(--clr-admonition-background-dim);
  border-bottom: .1rem solid #0000;
  border-radius: .2em .2em 0 0;
  padding: 1rem;
  font-size: .84em;
  font-weight: 700;
  transition: background-color .25s, color .25s;
}

.tabbed-labels.tabbed-scroll-left:before {
  color: gray;
  background: linear-gradient(to right, var(--clr-admonition-background-dim) 75%, #fff0);
  content: "◀";
  cursor: pointer;
  padding: 1rem 0;
  font-size: .9em;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.tabbed-labels.tabbed-scroll-right:after {
  color: gray;
  background: linear-gradient(to right, #fff0, var(--clr-admonition-background-dim) 25%);
  content: "▶";
  cursor: pointer;
  padding: 1rem 0;
  font-size: .9em;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.tabbed-labels > label:nth-child(1) {
  order: 1;
}

.tabbed-labels > label:nth-child(2) {
  order: 2;
}

.tabbed-labels > label:nth-child(3) {
  order: 3;
}

.tabbed-labels > label:nth-child(4) {
  order: 4;
}

.tabbed-labels > label:nth-child(5) {
  order: 5;
}

.tabbed-labels > label:nth-child(6) {
  order: 6;
}

.tabbed-labels > label:nth-child(7) {
  order: 7;
}

.tabbed-labels > label:nth-child(8) {
  order: 8;
}

.tabbed-labels > label:nth-child(9) {
  order: 9;
}

.tabbed-labels > label:nth-child(10) {
  order: 10;
}

.tabbed-labels > label:nth-child(11) {
  order: 11;
}

.tabbed-labels > label:nth-child(12) {
  order: 12;
}

.tabbed-labels > label:nth-child(13) {
  order: 13;
}

.tabbed-labels > label:nth-child(14) {
  order: 14;
}

.tabbed-labels > label:nth-child(15) {
  order: 15;
}

.tabbed-labels > label:nth-child(16) {
  order: 16;
}

.tabbed-labels > label:nth-child(17) {
  order: 17;
}

.tabbed-labels > label:nth-child(18) {
  order: 18;
}

.tabbed-labels > label:nth-child(19) {
  order: 19;
}

.tabbed-labels > label:nth-child(20) {
  order: 20;
}

@media screen {
  .tabbed-alternate input:nth-child(1):checked ~ .tabbed-labels > :nth-child(1), .tabbed-alternate input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2), .tabbed-alternate input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3), .tabbed-alternate input:nth-child(4):checked ~ .tabbed-labels > :nth-child(4), .tabbed-alternate input:nth-child(5):checked ~ .tabbed-labels > :nth-child(5), .tabbed-alternate input:nth-child(6):checked ~ .tabbed-labels > :nth-child(6), .tabbed-alternate input:nth-child(7):checked ~ .tabbed-labels > :nth-child(7), .tabbed-alternate input:nth-child(8):checked ~ .tabbed-labels > :nth-child(8), .tabbed-alternate input:nth-child(9):checked ~ .tabbed-labels > :nth-child(9), .tabbed-alternate input:nth-child(10):checked ~ .tabbed-labels > :nth-child(10), .tabbed-alternate input:nth-child(11):checked ~ .tabbed-labels > :nth-child(11), .tabbed-alternate input:nth-child(12):checked ~ .tabbed-labels > :nth-child(12), .tabbed-alternate input:nth-child(13):checked ~ .tabbed-labels > :nth-child(13), .tabbed-alternate input:nth-child(14):checked ~ .tabbed-labels > :nth-child(14), .tabbed-alternate input:nth-child(15):checked ~ .tabbed-labels > :nth-child(15), .tabbed-alternate input:nth-child(16):checked ~ .tabbed-labels > :nth-child(16), .tabbed-alternate input:nth-child(17):checked ~ .tabbed-labels > :nth-child(17), .tabbed-alternate input:nth-child(18):checked ~ .tabbed-labels > :nth-child(18), .tabbed-alternate input:nth-child(19):checked ~ .tabbed-labels > :nth-child(19), .tabbed-alternate input:nth-child(20):checked ~ .tabbed-labels > :nth-child(20) {
    color: var(--clr-primary-600);
    background: var(--clr-admonition-background);
  }

  .tabbed-labels > label {
    color: var(--clr-text-dim);
  }

  .tabbed-labels > label:hover {
    color: var(--clr-text-dim-hover);
  }

  .tabbed-labels > label + label {
    margin-left: .1rem;
  }
}

@media print {
  .tabbed-alternate .tabbed-content {
    display: contents;
  }

  .tabbed-alternate .tabbed-block {
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 .2em .2em;
    margin-bottom: 1em;
    display: block;
  }

  .tabbed-alternate .tabbed-block:nth-child(1) {
    order: 1;
  }

  .tabbed-alternate .tabbed-block:nth-child(2) {
    order: 2;
  }

  .tabbed-alternate .tabbed-block:nth-child(3) {
    order: 3;
  }

  .tabbed-alternate .tabbed-block:nth-child(4) {
    order: 4;
  }

  .tabbed-alternate .tabbed-block:nth-child(5) {
    order: 5;
  }

  .tabbed-alternate .tabbed-block:nth-child(6) {
    order: 6;
  }

  .tabbed-alternate .tabbed-block:nth-child(7) {
    order: 7;
  }

  .tabbed-alternate .tabbed-block:nth-child(8) {
    order: 8;
  }

  .tabbed-alternate .tabbed-block:nth-child(9) {
    order: 9;
  }

  .tabbed-alternate .tabbed-block:nth-child(10) {
    order: 10;
  }

  .tabbed-alternate .tabbed-block:nth-child(11) {
    order: 11;
  }

  .tabbed-alternate .tabbed-block:nth-child(12) {
    order: 12;
  }

  .tabbed-alternate .tabbed-block:nth-child(13) {
    order: 13;
  }

  .tabbed-alternate .tabbed-block:nth-child(14) {
    order: 14;
  }

  .tabbed-alternate .tabbed-block:nth-child(15) {
    order: 15;
  }

  .tabbed-alternate .tabbed-block:nth-child(16) {
    order: 16;
  }

  .tabbed-alternate .tabbed-block:nth-child(17) {
    order: 17;
  }

  .tabbed-alternate .tabbed-block:nth-child(18) {
    order: 18;
  }

  .tabbed-alternate .tabbed-block:nth-child(19) {
    order: 19;
  }

  .tabbed-alternate .tabbed-block:nth-child(20) {
    order: 20;
  }

  .tabbed-labels {
    display: contents;
  }

  .tabbed-labels > label {
    border: 1px solid gray;
    border-bottom: none;
    border-radius: .2em .2em 0 0;
  }
}

.ah-title-box h1 {
  margin-top: -.5rem;
}

.ah-title-box h2 {
  color: var(--clr-highlight-200);
  margin-top: -2.8rem;
}

.ah-title-box .ah-breadcrumbs {
  color: var(--clr-text-dim);
  gap: 1rem;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.ah-title-box .ah-breadcrumbs li + li:before {
  content: "»";
  padding-right: 1rem;
}

.ah-title-box .ah-breadcrumbs li a {
  color: var(--clr-text-dim);
}

.ah-title-box .ah-breadcrumbs li a:hover {
  color: var(--clr-text-dim-hover);
}

/*# sourceMappingURL=main.css.map */
