{% load i18n %}
{% load dashboard_extras %}

{% with new_group=tag_group|add_to_group:tag %}
{% with stats=tag_stats|get_value:new_group chart_id="dashboard-progress-chart-"|add:new_group %}

{% if tag_name and stats %}
<div class="ah-dashboard--tree--title-container ah-dashboard--tree--{{ level }}">
  <span class="ah-dashboard--tree--title">{{ tag_name }}</span>
  <span class="ah-dashboard--tree--subtitle">{% trans "Exercises" %}: {{ stats.total_exercises }}</span>
  <span class="ah-dashboard--tree--progress">{{ stats.percent|floatformat:1 }}%</span>
</div>
{% endif %}

{% if tag_tree|is_last_level %}
<div class="ah-dashboard--tree--chart-container">
  <canvas id="{{ chart_id }}"></canvas>
</div>

<script>
  function initChart() {
    const ctx = document.getElementById('{{ chart_id }}');
    
    const labels = [{% create_progress_labels tag_tree tag_stats new_group %}];
    const data = [{% create_progress_data tag_tree tag_stats new_group %}];
    const backgroundData = [{% create_background_progress_data tag_tree %}];
    const backgroundColor = [{% create_progress_colors tag_tree %}];

    ctx.parentNode.style.height = `${45 * {{ tag_tree|length }}}px`;

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels,
        datasets: [{
          data,
          backgroundColor,
          borderWidth: 1,
          barThickness: 25,
          barPercentage: 1,
          categoryPercentage: 0.9,
        },
        {
          data: backgroundData,
          borderWidth: 1,
          barThickness: 25,
          barPercentage: 1,
          categoryPercentage: 0.9,
        }]
      },
      options: {
        maintainAspectRatio: false,
        indexAxis: 'y',
        plugins: {
          tooltip: {
            enabled: false,
          },
          legend: {
            display: false,
          },
        },
        scales: {
          x: {
            display: false,
            max: 100,
            stacked: false,
            beginAtZero: true,
          },
          y: {
            stacked: true,
            beginAtZero: true,
            includeBounds: false,
            grid: {
              display: false,
              drawTicks: false,
            },
            ticks: {
              padding: 0,
              z: 1000,
              mirror: true,
              color: "black",
              font: {
                size: 16,
              }
            }
          }
        }
      }
    });
  }
  initChart();
</script>
{% else %}
  {% for sub_tag, sub_tag_data in tag_tree.items %}
    {% if sub_tag_data|is_leaf %}
      {% include 'dashboard/fragments/tag-subtree.html' with tag=sub_tag tag_name=sub_tag_data tag_tree='' level=level|add:1 tag_group=new_group %}
    {% else %}
      {% include 'dashboard/fragments/tag-subtree.html' with tag=sub_tag tag_name=sub_tag_data|get_value:"name" tag_tree=sub_tag_data|get_value:"children" level=level|add:1 tag_group=new_group %}
    {% endif %}
  {% endfor %}
{% endif %}

{% endwith %}
{% endwith %}