{% load i18n %}
{% load dashboard_extras %}

{% with stats=tag_stats|get_value:root_tag.group chart_id="dashboard-progress-chart-"|add:root_tag.group %}

{% if root_tag.name and stats %}
<div class="ah-dashboard--tree--title-container ah-dashboard--tree--{{ level }}">
  <span class="ah-dashboard--tree--title">{{ root_tag.name }}</span>
  <span class="ah-dashboard--tree--subtitle">{% trans "Exercises" %}: {{ stats.total_exercises }}</span>
  <span class="ah-dashboard--tree--progress">{{ stats.percent|floatformat:1 }}%</span>
</div>
{% endif %}

{% if root_tag|is_last_level %}
<div class="ah-dashboard--tree--chart-container">
  <canvas id="{{ chart_id }}"></canvas>
</div>

<script>
  function initChart() {
    const ctx = document.getElementById('{{ chart_id }}');

    const labels = [{% create_progress_labels root_tag tag_stats %}];
    const data = [{% create_progress_data root_tag tag_stats %}];
    const backgroundData = [{% create_background_progress_data root_tag %}];
    const backgroundColor = [{% create_progress_colors root_tag %}];

    ctx.parentNode.style.height = `${45 * {{ root_tag.children|length }}}px`;

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels,
        datasets: [{
          data,
          backgroundColor,
          borderWidth: 1,
          barThickness: 25,
          barPercentage: 1,
          categoryPercentage: 0.9,
        },
        {
          data: backgroundData,
          borderWidth: 1,
          barThickness: 25,
          barPercentage: 1,
          categoryPercentage: 0.9,
        }]
      },
      options: {
        maintainAspectRatio: false,
        indexAxis: 'y',
        plugins: {
          tooltip: {
            enabled: false,
          },
          legend: {
            display: false,
          },
        },
        scales: {
          x: {
            display: false,
            max: 100,
            stacked: false,
            beginAtZero: true,
          },
          y: {
            stacked: true,
            beginAtZero: true,
            includeBounds: false,
            grid: {
              display: false,
              drawTicks: false,
            },
            ticks: {
              padding: 0,
              z: 1000,
              mirror: true,
              color: "black",
              font: {
                size: 16,
              }
            }
          }
        }
      }
    });
  }
  initChart();
</script>
{% else %}
  {% for child in root_tag.children %}
    {% include 'dashboard/fragments/tag-subtree.html' with root_tag=child level=level|add:1 %}
  {% endfor %}
{% endif %}

{% endwith %}
