@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.ah-content {
  max-width: $max-content-width;
  margin: 3em auto 2em;

  @include smaller-than("medium") {
    padding: $small-extra-block $small-extra-inline;
  }

  * {
    scroll-margin-top: $header-height;
  }
}

#resetHandoutButton {
    float: right;
    display: flex;
    flex-direction: row;

    border: 0px;
    background-color: transparent;
}

#resetHandoutButton::after {
    content: "Reset";
    max-width: 0px;
    overflow: hidden;

    transition: max-width 0.5s;
}


#resetHandoutButton:hover::after {
    max-width: 50px;
    transition: max-width 0.5s;
}

#resetHandoutButton svg {
    width: 1em;
    display: inline;
    vertical-align: middle;
}


