$breakpoints: (
  "medium": 800px,
  "large": 1000px,
  "huge": 1200px,
);

$border-radius: 0.2em;
$admonition-extra-block: 1rem;
$admonition-extra-inline: 2rem;
$space-between-block: 1.5rem;

// Small
$small-extra-block: 0.5rem;
$small-extra-inline: 1rem;

$max-content-width: 60ch;
