$breakpoints: (
  "medium": 800px,
  "large": 1440px,
  "huge": 2000px,
);

:root {
  @each $name, $value in $breakpoints {
    --breakpoint-#{$name}: #{$value};
  }
}

$header-height: var(--header-height, 50px);

$border-radius: 0.2em;
$border-thickness: 0.1rem;
$admonition-extra-block: 1rem;
$admonition-extra-inline: 1.5rem;
$space-between-block: 1.5rem;

// Small
$small-extra-block: 0.5rem;
$small-extra-inline: 1rem;

$max-content-width: 70ch;
