{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:700|Oxygen+Mono|Source+Sans+Pro:700|Source+Serif+Pro&amp;display=swap">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/main.css' %}">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="ah-dashboard--body ah-typeset">
    {% block content %}
    {% endblock %}
    
    <script src="{% static 'dashboard/assets/js/main.js' %}"></script>
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
