{% load static %}

<html>

<head>

    <script src="{% static '/instructor-courses.js' %}"></script>
    <link rel="stylesheet" href="{% static '/instructor-courses.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    <h1 class="h1">Dashboard</h1>


    <select class="form-select" list="courses" id="select-week">
        <datalist id="courses">{% for course in courses %}
            <option>{{ course.name }} </option>
            {% endfor %}
        </datalist>
    </select>

    <div class="btn-group">
        <a href="/dashboard/instructor/devlife-23-1/semester"id="semester" class="btn btn-primary active" aria-current="page">Semester</a>
        <a href="/dashboard/instructor/devlife-23-1/weekly" id="weekly" class="btn btn-primary">Weekly</a>
    </div>
    <div id="data"></div>
</body>

</html>