{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Table</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

    <script type="text/javascript" src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>

    <script src="{% static '/dashboard-progress.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/progress-table.css' %}"></script>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <main>
      <h1>Class Progress</h1>

      {% if course_classes|length == 0 %}
      <p class="error-msg">This course has no related classes. Create at least one class using Django Admin.</p>
      {% else %}
      <div class="filterset">
        <div class="filter">
          <label for="select-class">Class</label>
          <select id="select-class" {% if course_classes|length == 1 %}disabled{% endif %}>
            {% for course_class in course_classes %}
            <option value="{{ forloop.i0 }}">{{ course_class.name }}</option>
            {% endfor %}
          </select>
        </div>

          <div class="filter">
            <label for="select-tag">Filter by tags:</label>
            <input list="data" id="select-tag">
            <datalist id="data">      {% for key, value in tags.items %}
                <option onchange="updateFilter()" value="{{ key }}">{{ key }} </option>
              {% endfor %}
            </datalist>
          </div>
          <button onclick="toggleVisibility()" class="btn btn-secondary">Toggle visualization</button>
        </div>
        {% endif %}

      <div id="tags-list">
      </div>

      <div id="table" data-columns="{{ columns | safe }}" data-data="{{ data | safe }}" data-tags="{{ tags | safe }}" data-classes="{{ course_classes | safe }}"></div>

      <div id='chart' style="display: none;" data-columns="{{ columns | safe }}" data-data="{{ data | safe }}" data-tags="{{ tags | safe }}"><!-- Plotly chart will be drawn inside this DIV --></div>
    </main>
  </body>
</html>
