{% load static %}

<!DOCTYPE html>
<html>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>

    </script>


    <script src="{% static '/dashboard-chart.js' %}"></script>
    <body>
        {% for ex in data %}
        <ul>
            <div id="{{ ex.name }}">
                <li>
                    {% if 'choice-exercise' in ex.tags %}

                        <button  onclick="generateChart(value)" value="{{ ex }}">{{ ex.name }}</button>
                    {% elif 'parsons-exercise' in ex.tags %}
                        <button  onclick="generateParson(value)" value="{{ ex }}">{{ ex.name }}</button>

                    {% else %}
                        {{ ex.name }}
                    {% endif %}
                </li>
            </div>
        </ul>
        {% endfor %}

    </body>
    
</html>