{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weekly Progress</title>
  </head>

  <body>
  
    Filter by student:
    <input list="data" id="select-tag">
    <datalist id="data">      {% for student in students %}
        <option onchange="updateFilter()" value="{{ student }}">{{ student }} </option>
      {% endfor %}
    </datalist>
    <input list="weeks" id="select-tag">
    <datalist id="weeks">
        <option onchange="updateFilter()" value="0">0</option>
        <option onchange="updateFilter()" value="1">1</option>
        <option onchange="updateFilter()" value="2">2</option>
        <option onchange="updateFilter()" value="3">3</option>
        <option onchange="updateFilter()" value="4">4</option>
        <option onchange="updateFilter()" value="5">5</option>

        
    </datalist>
    
    <div id="tags-list">
    </div>
    
    <div id="table" data-columns="{{ columns | safe }}" data-data="{{ data | safe }}" data-tags="{{ tags | safe }}"></div>

  </body>
</html>
